/* CSS Integrado */
        #inicio_container {
            position: relative; 
            perspective: 800px; 
            overflow: hidden;
        }

        .imagen-fondo {
            position: absolute; /* O fixed */
            z-index: -1;        /* Mueve la imagen detrás de todos los elementos por defecto (z-index: 0 o auto). */
            /* Otras propiedades como width: 100%; height: 100%; top: 0; left: 0; */
        }

        .ficha-3d {
            width: 100px; 
            height: 100px;
            position: absolute;
            cursor: pointer;
            z-index: 10; 
        }

        .cube-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
        }

        .face {
            position: absolute;
            height: 100px; 
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #10999f; 
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px;
            box-sizing: border-box;
        }

        /* Cara Frontal (100x100px), ahora en Z=25px */
        .face.front {
            width: 100px;
            transform: translateX(0px)  translateY(0px)  translateZ(25px);
            background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
        }

        /* CARA TRASERA (Back), movida a Z: 0 */
        .face.back {
            width: 100px;
            transform: rotateY(180deg) translateX(0px)  translateY(0px)  translateZ(0px);
            background-color: #0e8488;
        }

        /* Cara Derecha (25px de ancho, 100px de alto) */
        .face.right {
            width: 25px; 
            background-color: #13a3a7;
            transform: rotateY(90deg) translateX(-12.5px)  translateY(0px)  translateZ(87px); 
        }

        /* Cara Izquierda (25px de ancho, 100px de alto) */
        .face.left {
            width: 25px; 
            background-color: #13a3a7;
            transform: rotateY(90deg) translateX(-12.5px)  translateY(0px)  translateZ(-12.5px); 
        }

        /* Caras Superior e Inferior */
        .face.top, .face.bottom {
            width: 100px;
            height: 25px; 
        }
        .face.top {
            transform: rotateX(90deg) translateY(12.5px) translateZ(12.5px);
            background-color: #15b0b7;
        }
        .face.bottom {
            transform: rotateX(-90deg) translateX(0px) translateY(-12.5px) translateZ(87px);
            background-color: #0c7a7e;
        }
        
        .face svg {
            width: 100%;
            height: 100%;
            fill: currentColor; 
            display: block; 
        }